# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
.DS_Store
.pytest_cache

# Directories
#data/
models/
results/
mlruns/
mlartifacts/
airflow-data/
artifacts/
venv/
batch_predictions/
dist/
archive/

# File Extensions
*.csv
*.pickle
*.pyc
*.npy
*.jpg
*.jpeg
*.png
*.npz

# Environment Variables
.env

# Installer logs
pip-log.txt

!M6-cloud/models