# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.vscode
.DS_Store

# Directories
data/
models/
results/
mlruns/
mlartifacts/
airflow-data/

# File Extensions
*.csv
*.pickle
*.pyc

# Environment Variables
.env

# Installer logs
pip-log.txt